#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_shilling
#build/shillingd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_shilling)

DEB_INSTALL_EXAMPLES_shillingd += debian/examples/*
DEB_INSTALL_MANPAGES_shillingd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix shillingd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f shilling-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake shilling-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_shilling
	src/test_shilling

# Ensure wrapper is set executable
binary-post-install/shillingd:
	chmod +x $(cdbs_curdestdir)usr/bin/shillingd
binary-post-install/shilling-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/shilling-qt
